body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  #pyproblems {
    background-color: #12003b;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  h1 {
    font-size: 36px;
    margin: 20px 0;
  }

  .problem {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
  }

  .problem h2 {
    font-size: 24px;
    margin: 0;
  }

  .problem p {
    font-size: 16px;
    margin: 10px 0;
      }